{% extends 'base/base.html' %}
{% block content %}
    {% if object.image %}
    <img src="{{ object.image.url }}" alt="{{ object.parts_category }}" width="300" height="300">
    {% endif %}
    <h5><u>Категория:</u> {{ object.parts_category }}</h5>
    <h5><u>Състояние:</u> {{ object.condition }}</h5>
    <h5><u>Каталожен номер:</u> {{ object.catalog_number }}</h5>
    <h5><u>Цена:</u> <strong>{{ object.price }}</strong></h5>
    <a href="{% url 'user vehicles' %}"><button>Назад към моите обяви</button></a>
{% endblock %}
