{% extends 'base/base.html' %}
{% block content %}
    {% if count == 0 %}
        <h1>Все още нямате създадени запитвания.</h1>
        <a href="{% url 'user advertisement' %}">
            <button>Попълни формуляр за оценка</button>
        </a>
    {% else %}
        <h1>{{ request.user.profile.get_full_name }}, Вие имате {{ count }} {% if count == 1 %}обява{% else %}обяви
        {% endif %}:</h1>
    {% endif %}
    <br>
    {% for object in object_list %}

        <div class="d-inline p-2 w-50">
            <img src="{{ object.image.url }}" alt="{{ object.description }}" width="300" height="300">
        </div>
        <div class="d-inline p-2 w-50">
            <div class="d-flex flex-column">
                {% if object.model %}
                    <h5><u>Марка:</u> {{ object.mark }}</h5>
                    <h5><u>Модел:</u> {{ object.model }}</h5>
                {% endif %}
                {% if object.name %}
                    <h5><u>Наименование:</u> {{ object.name }}</h5>
                    <h5><u>Категория:</u> {{ object.parts_category }}</h5>
                    <h5><u>Състояние:</u> {{ object.condition }}</h5>
                    {% if object.catalog_number %}
                        <h5><u>Каталожен номер:</u> {{ object.catalog_number }}</h5>
                    {% endif %}
                {% endif %}
                {% if object.fuel %}
                    <h5><u>Гориво:</u> {{ object.fuel }}</h5>
                {% endif %}
                {% if object.motor %}
                    <h5><u>Двигател:</u> {{ object.motor }}</h5>
                {% endif %}
                {% if object.cooling %}
                    <h5><u>Охлаждане:</u> {{ object.cooling }}</h5>
                {% endif %}
                {% if object.motor_type %}
                    <h5><u>Tип:</u> {{ object.motor_type }}</h5>
                {% endif %}
                {% if object.total_weight %}
                    <h5><u>Общо тегло:</u> {{ object.total_weight }}</h5>
                {% endif %}
                {% if object.capacity %}
                    <h5><u>Товароносимост:</u> {{ object.capacity }}</h5>
                {% endif %}
                {% if object.capacity %}
                    <h5><u>Категория:</u> {{ object.category }}</h5>
                {% endif %}
                <h5><u>Описание:</u> {{ object.description|truncatechars:30 }}</h5>
                {% if not object.is_reviewed %}
                    <h5><u>Цена:</u> <strong>{{ object.price }}</strong></h5>
                {% else %}
                    <h5><u>Цена:</u> <strong>{{ object.price|truncatechars:2 }}</strong></h5>
                {% endif %}
                {% if object.motor %}
                    <a href="{% url 'delete car' object.pk %}">
                {% elif object.capacity %}
                    <a href="{% url 'delete truck' object.pk %}">
                {% elif object.motor_type %}
                    <a href="{% url 'delete motorcycle' object.pk %}">
                {% elif object.parts_category %}
                    <a href="{% url 'delete part' object.pk %}">
                {% endif %}
                <button>Изтрий</button>
                </a>
                {% if object.motor %}
                    <a href="{% url 'details car' object.pk %}">
                {% elif object.capacity %}
                    <a href="{% url 'details truck' object.pk %}">
                {% elif object.motor_type %}
                    <a href="{% url 'details motorcycle' object.pk %}">
                {% elif object.parts_category %}
                    <a href="{% url 'details part' object.pk %}">
                {% endif %}
                <button>Детайли</button>
                </a>
                {% if not object.is_reviewed %}
                    {% if object.motor %}
                        <a href="{% url 'edit car' object.pk %}">
                    {% elif object.capacity %}
                        <a href="{% url 'edit truck' object.pk %}">
                    {% elif object.motor_type %}
                        <a href="{% url 'edit motorcycle' object.pk %}">
                    {% elif object.parts_category %}
                        <a href="{% url 'edit part' object.pk %}">
                    {% endif %}
                <button>Редакция</button>
                </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}