{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Autotrade</title>
    {# https://www.bootstrapcdn.com/fontawesome/ #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://pluspng.com/img-png/car-png-car-png-transparent-2000.png">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
          integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>

<body>
{# https://bootswatch.com/cosmo/ #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img class="navbar-brand" src="{% static 'images/car_begin.jpg' %}" alt="Начало"
             style="width:110px;height:67px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Начало
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'autotrade vehicles' %}">Обяви</a>
                </li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Вход</a>
                    </li>
                {% else %}
                    {% if not request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile details' request.user.pk %}">Профил</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user vehicles' %}">Моите запитвания</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user advertisement' %}">Поискай оферта</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'autotrade create vehicles' %}">Създай обява</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'advertisement to review' %}">Направи оценка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users' %}">Регистрирани потребители</a>
                        </li>
                    {% endif %}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="{% url 'last viewed vehicles' %}">Последно разгледани</a>#}
                    {#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Изход</a>
                    </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                Добре дошли,
                <a class="nav-link"
                   href="{% url 'profile details' request.user.pk %}">{{ user.profile.get_full_name }}</a>!
            {% endif %}
        </div>
    </div>
</nav>
<div>
    <form class="d-flex" method="get" action="{% url 'search bar' %}">
        <input name="q" type="text" placeholder="Търсене">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Търсене</button>
    </form>
</div>
{% block content %}
{% endblock %}
<!-- Footer -->
<footer class="fixed-bottom text-center text-lg-start bg-light text-muted">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <center>
            <table>
                <tr>
                    <th>Контакти:</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <strong>тел.:</strong> 0888 888 888
                        <img src="https://www.iconsdb.com/icons/preview/green/phone-30-xxl.png" alt="icon" width=30"
                             height="30">
                        <img src="https://image.similarpng.com/very-thumbnail/2020/05/WhatsApp-icon-PNG.png"
                             alt="watsup"
                             width=33" height="33">
                        <img src="https://www.pngfind.com/pngs/m/50-503773_viber-icon-png-ai-file-viber-icon-png.png"
                             alt="viber" width=35" height="30">
                        <img src="https://icons-for-free.com/iconfiles/png/512/media+social+telegram+icon-1320193121598222952.png"
                             alt="telegram" width=30" height="30">
                    </td>
                    <td><strong>имейл:</strong> office@autotrade-ruse.com</td>
                </tr>
                <tr>
                    <td><strong>адрес:</strong> гр. Русе, ул. Първа 1</td>
                    <td>
                        <strong>социална медия:</strong> <a href="http://www.facebook.com/Autotrade.Ruse"><img
                            src="https://cdn-icons-png.flaticon.com/512/1402/1402183.png"
                            alt="Facebook Social Icon" width=30" height="30"></a>
                        <a href="#"><img
                                src="https://www.freepnglogos.com/uploads/tik-tok-logo-png/tik-tok-how-use-tiktok-create-cool-videos-with-iphone-14.png"
                                alt="TikTok Icon" width=50" height="30"></a>
                        <a href="#"><img
                                src="https://toppng.com/uploads/preview/instagram-logo-11545512111t0928udues.png"
                                alt="Instagram Icon" width=30" height="30"></a>
                        <a href="#"><img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/512px-Twitter-logo.svg.png?20211104142029"
                                alt="Twitter Icon" width=20" height="20"></a>
                    </td>
                </tr>
                <tr>
                    <td><strong>други връзки:</strong> <a
                            href="https://www.mobile.bg/pcgi/mobile.cgi?act=6&subact=1&actions=h13716631398862107&f1=0&f2=0&f3=1&f4=%D0&f5=%E3%F0%E0%E4%20%D0%F3%F1%E5&f6=A&f7=1&f8=">
                        <img src="https://play-lh.googleusercontent.com/PChNjKAG6SI3uEvXIhNmUGv4Kl3ld-2FOOrgK1Jl-NSltIjAhGJY51O-ddYACwzcF8A=w240-h480"
                             alt="Mobile.bg Icon" width=30" height="30"></a>
                        <a href="#"><img
                                src="https://play-lh.googleusercontent.com/qxPJvRhAMJQ5amze-0QUBvkFbgkFhoXTvx9XPdcYKQNTTvb6H4q4jRfGzyZL3P0TKOU=w240-h480"
                                alt="Cars.bg Icon" width=30" height="30"></a></td>
                </tr>
            </table>
        </center>
        <br>
        @2022 Autotrade Team
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

{#  https://getbootstrap.com/docs/4.3/getting-started/introduction/ #}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>