{% extends 'base/base.html' %}
{% block content %}
    {% for product in products %}
        {% if product.motor %}
            <li>
                <a href="{% url 'autotrade user edit car' product.pk %}">{{ product.date_of_publication }} {{ product.mark }}</a>
            </li>
        {% endif %}
        {% if product.cooling %}
            <li>
                <a href="{% url 'autotrade user edit motorcycle' product.pk %}">{{ product.date_of_publication }} {{ product.mark }}</a>
            </li>
        {% endif %}
        {% if product.capacity %}
            <li>
                <a href="{% url 'autotrade user edit truck' product.pk %}">{{ product.date_of_publication }} {{ product.mark }}</a>
            </li>
        {% endif %}
        {% if product.catalog_number %}
            <li>
                <a href="{% url 'autotrade user edit part' product.pk %}">{{ product.date_of_publication }} {{ product.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}