{% extends 'base/base.html' %}
{% block content %}
    <img src="{{ object.image.url }}" alt="{{ object.mark }}" width="300" height="300">
    <h5><u>Марка:</u> {{ object.mark }}</h5>
    <h5><u>Модел:</u> {{ object.model }}</h5>
    <h5><u>Категория:</u> {{ object.category }}</h5>
    <h5><u>Година:</u> {{ object.year }}</h5>
    <h5><u>Общо тегло:</u> {{ object.total_weight }}</h5>
    <h5><u>Товароносимост:</u> {{ object.capacity }}</h5>
    {% if object.description %}
        <h5><u>Описание:</u> <strong>{{ object.description }}</strong></h5>
    {% endif %}
    <h5><u>Цена:</u> <strong>{{ object.price }}</strong></h5>
    {# Номерът на конкретния служител качил обява #}
    <h5><u>Телефон за контакт:</u> <strong>{{ object.user.phone_number }}</strong></h5>
    <a href="{% url 'autotrade vehicles' %}">
        <button>Назад към всички обяви</button>
    </a>
    {% if perms.products.change_autotradetruck %}
        <a href="{% url 'autotrade edit truck' object.pk %}">
            <button>Редакция</button>
        </a>
    {% endif %}
{% endblock %}
