{% extends 'base/base.html' %}
{% block content %}
    <img src="{{ object.image.url }}" alt="{{ object.mark }}" width="300" height="300">
    <h5><u>Марка:</u> {{ object.mark }}</h5>
    <h5><u>Модел:</u> {{ object.model }}</h5>
    <h5><u>Година:</u> {{ object.year }}</h5>
    {% if object.motor_type %}
        <h5><u>Тип:</u> {{ object.motor_type }}</h5>
    {% endif %}
    {% if object.cooling %}
        <h5><u>Охлаждане:</u> {{ object.cooling }}</h5>
    {% endif %}
    {% if object.description %}
        <h5><u>Описание:</u> <strong>{{ object.description }}</strong></h5>
    {% endif %}
    <h5><u>Цена:</u> <strong>{{ object.price }}</strong></h5>
    {# Номерът на конкретния служител качил обява #}
    <h5><u>Телефон за контакт:</u> <strong>{{ object.user.phone_number }}</strong></h5>
    <a href="{% url 'autotrade vehicles' %}">
        <button>Назад към всички обяви</button>
    </a>
    {% if perms.products.change_autotrademotorcycle %}
        <a href="{% url 'autotrade edit motorcycle' object.pk %}">
            <button>Редакция</button>
        </a>
    {% endif %}
{% endblock %}
