{% extends 'base/base.html' %}
{% block content %}
    {% for vehicle in vehicles %}
        <div class="container">
            <img src="{{ vehicle.image.url }}" alt="{{ vehicle.description }}" width="300" height="300">
            {% if not vehicle.parts_category %}
                <h5><u>Марка:</u> {{ vehicle.mark }}</h5>
                <h5><u>Модел:</u> {{ vehicle.model }}</h5>
                <h5><u>Година на производство:</u> {{ vehicle.year }}</h5>
            {% else %}
                <h5><u>Категория:</u> {{ vehicle.parts_category }}</h5>
                <h5><u>Състояние:</u> {{ vehicle.condition }}</h5>
                <h5><u>Каталожен номер:</u> {{ vehicle.catalog_number }}</h5>
            {% endif %}
            {% if vehicles.motor %}
                <h5><u>Гориво:</u> {{ vehicle.fuel }}</h5>
                <h5><u>Двигател:</u> {{ vehicle.motor }}</h5>
            {% elif vehicle.total_weight %}
                {% if vehicle.category %}
                    <h5><u>Категория:</u> {{ vehicle.category }}</h5>
                {% endif %}
                <h5><u>Товароносимост:</u> {{ vehicle.capacity }}</h5>
                <h5><u>Общо тегло:</u> {{ vehicle.total_weight }}</h5>
            {% elif vehicle.cooling %}
                {% if vehicle.motortype %}
                    <h5><u>Тип:</u> {{ vehicle.motortype }}</h5>
                {% endif %}
                {% if vehicle.cooling %}
                    <h5><u>Охлаждане:</u> {{ vehicle.cooling }}</h5>
                {% endif %}
            {% endif %}
            {% if vehicle.description %}
                <h5><u>Описание:</u> {{ vehicle.description|truncatechars:30 }}</h5>
            {% endif %}
            {% if request.user.is_authenticated %}
                <h5><u>Цена:</u> <strong>{{ vehicle.price }}</strong></h5>
                <a href="{% url 'autotrade details car' vehicle.pk %}">
            {% else %}
                <h5><u>Цена:</u> <strong>{{ vehicle.price|truncatechars:2 }}</strong></h5>
                <a href="{% url 'login' %}">
            {% endif %}
            <button>Детайли</button>
            </a>
        </div>
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
