{% extends 'base/base.html' %}
{% block content %}
    <center>
        {% for autotrade_user in autotrade_users %}
            <div class="d-inline p-2 w-50">
                <div class="d-flex flex-column">
                    <a href="{% url 'profile details' autotrade_user.pk %}">{{ autotrade_user }}</a>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; първа</a>
            <a href="?page={{ page_obj.previous_page_number }}">предишна</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следваща</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последна &raquo;</a>
        {% endif %}
    </span>
        </div>
    </center>
{% endblock %}