{% extends 'base/base.html' %}
{% block content %}
    <div>
        <p><strong>Име:</strong> {{ object.first_name }}</p>
        <p><strong>Фамилия:</strong> {{ object.last_name }}</p>
        <p><strong>Дата на раждане:</strong> {{ object.date_of_birth }}</p>
        <p><strong>Имейл:</strong> {{ object.user.email }}</p>
    </div>
    <a href="{% url 'profile edit' request.user.pk %}">
        <button>Промяна</button>
    </a><a href="{% url 'change password' %}">
    <button>Смяна на парола</button>
</a>
    <a href="{% url 'profile user delete' request.user.pk %}">
        <button>Изтрий</button>
    </a>
{% endblock %}
