{% extends 'base/base.html' %}
{% block content %}
    <h1>
        A U T O T R A D E !
    </h1>
    <h3 class="center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque facere facilis labore laudantium modi nam
        numquam obcaecati, omnis possimus quaerat repellendus sequi, unde! Accusantium enim facilis non obcaecati quia!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam animi architecto
        assumenda beatae cumque distinctio eligendi expedita fugit laborum laudantium nostrum, odit possimus quas quia
        reiciendis sequi veritatis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque facere facilis
        labore laudantium modi nam
        numquam obcaecati, omnis possimus quaerat repellendus sequi, unde! Accusantium enim facilis non obcaecati quia!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam animi architecto
        assumenda beatae cumque distinctio eligendi expedita fugit laborum laudantium nostrum, odit possimus quas quia
        reiciendis sequi veritatis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque facere facilis
        labore laudantium modi nam
        numquam obcaecati, omnis possimus quaerat repellendus sequi, unde! Accusantium enim facilis non obcaecati quia!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam animi architecto
        assumenda beatae cumque distinctio eligendi expedita fugit laborum laudantium nostrum, odit possimus quas quia
        reiciendis sequi veritatis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque facere facilis
        labore laudantium modi nam
        numquam obcaecati, omnis possimus quaerat repellendus sequi, unde! Accusantium enim facilis non obcaecati quia!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam animi architecto
        assumenda beatae cumque distinctio eligendi expedita fugit laborum laudantium nostrum, odit possimus quas quia
        reiciendis sequi veritatis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque facere facilis
        labore laudantium modi nam
        numquam obcaecati, omnis possimus quaerat repellendus sequi, unde! Accusantium enim facilis non obcaecati quia!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam animi architecto
        assumenda beatae cumque distinctio eligendi expedita fugit laborum laudantium nostrum, odit possimus quas quia
        reiciendis sequi veritatis.
    </h3>
{% endblock %}